header {
  margin-top: 4rem;
  border-bottom: 10px solid black;
  text-align: center;
}

h1 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

#description,
#currentDate {
  margin: 1rem 0;
  font-size: 1.25rem;
}
.container {
  display: flex;
  text-align: center;
  padding: 20px;
}
h1,
form,
button {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
}

li {
  background-color: aquamarine;
}
